.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    text-align: center;
}

main,
footer {
    max-width: 2000px;
    margin: initial;
    padding: 10px;
    text-align: center;
}

main {
    margin: 0 auto;
}

section img {
    width: 70%;
    margin: 2em;
}

section {
    margin-block-end: 1em;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    background-color: #E6CFC9;
    border: 1px solid #797A7C;
    text-align: center;
}

h1 {
    color: #797A7C;
    font-weight: bold;
    text-align: center;
    font-family: 'Parisienne', cursive;
}