body {
    font-family: 'Ubuntu', sans-serif;
}

table,
th,
td {
    border: 2px solid lightgrey;
    text-align: center;
    border-collapse: collapse;
    padding: 8px;
}

table {
    box-shadow: 10px 10px 5px #628ca6;
}

thead tr td {
    background-color: #7fb9c2;
    color: black;
    font-size: 1.5em;
}

th {
    background-color: #628ca6;
    color: white;
}

tr {
    background-color: #e7f0ed;
}

tr:nth-child(odd) {
    background-color: #e7ffed;
}

.highlight {
    background-color: #628ca6;
    color: white;
}

tfoot tr td {
    background-color: #7fb9c2;
    font-size: .8em;
}